*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font: 16px Helvetica, Verdana, sans-serif;
    background-color: #ababab;
    color: navy;
  }
  header {
    /* font-size: 75%; */
    background-color: dodgerblue;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
  }
  .navBar-container {
    display: flex;
    justify-content: space-between;
  }
  .align-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #profile-img {
    border-radius: 50%;
  }
  #header-name {
    margin-left: 15px;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
  }
  a {
    color: navy;
  }
  h1, h2 {
    font-family: Georgia, serif;
    text-align: center;
  }
  h1 {
      margin-top: 150px;
      font-size: 250%;
  }
  #main-head {
    margin: 30px 0;
  }
  .card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 2px double navy;
    margin: 10px;
    /* align-items: center; */
  }
  .card-header, .card-footer {
    width: 70%;
    text-align: center;
  }
  p {
    margin: 20px 30px;
  }
  section a {
    display: flex;
    justify-content: center;
  }
  a img {
    width: 80%;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .small-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .small {
    width 40%
  }
  h2 {
    font-size: 150%; 
  }
  footer {
    background-color: dodgerblue;
    padding: 10px;
    width: 100%;
    text-align: center;
  }