*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font: 16px Helvetica, Verdana, sans-serif;
    background-color: #ababab;
    color: navy;
  }
  /* header will be fixed to top of window with position fixed*/
  header {
    /* font-size: 75%; */
    background-color: dodgerblue;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
  }
  /* navbar container allows contents to align at left and right of header. Will use media queries to align vertically at smaller screen size.*/
  .navBar-container {
    display: flex;
    justify-content: space-between;
  }
  /* align-left div is also a flex box allowing header-name div (containing my name & info) to align to the right of the profile photo at al screen sizes  */
  .align-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #profile-img {
    border-radius: 50%;
    transition: all 1s ease-in-out;
  }
  /* use hover pseudo-element to translate my profile photo to right when hovered over. Transition is used in actual element to animate this process  */
  #profile-img:hover {
    transform: translate(400px);
  }
  #header-name {
    margin-left: 15px;
  }
  /* nav element will be a verticle flex-box at all screen sizes, alowing links to be displayed vertically.  */
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 20px;
  }
  a {
    color: navy;
  }
  nav a {
    text-decoration: none;
  }
  /* h1 & h2 for the page will be aligned center as block level elements inside the main-head div*/
  h1, h2 {
    font-family: Georgia, serif;
    text-align: center;
  }
  /* margin top needed to keep entire header visible below the fixed header */
  h1 {
      margin-top: 150px;
      font-size: 250%;
  }
  /* main-head margin allows h1 and h2 to display beneath the fixed header */
  #main-head {
    margin: 30px 0;
  }
  /* class card divs allow the card elements (headline, image & description) to align vertically using flexbox.  */
  .card {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px double navy;
    margin: 10px;
  }
  .card-header, .card-footer {
    width: 70%;
    text-align: center;
  }
  p {
    margin: 20px 30px;
  }
  section a {
    display: flex;
    justify-content: center;
  }
  a img {
    width: 80%;
  }
  .nps:hover::before {
    transition: all 1s ease-in-out;
  }

  .nps:hover::before {
    content: "Click anywhere on the national park project to be taken to the actual site." ;
    display: block;
    border: 2px solid navy;
    background-color: navy;
    color: white;
    height: 150px;
    width: 120px; 
    transform: translate(120px);  
    z-index: 1;
    } 

  /* card-container div holds all 3 projects. The small-car-container below will hold the 2 non-featured projects & flex them horizontally at large screen sizes, changing to vertical at mobile size  */
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .small-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .small {
    width: 40%;
  }
  h2 {
    font-size: 150%; 
  }
  footer {
    background-color: dodgerblue;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  /* the non-featured projects and nav-bar contents will both align vertically at smaller screen sizes */
  @media screen and (max-width: 600px) {
    .small-card-container {
        flex-direction: column;
      }
      .navBar-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      /* at smaller screen widths additional top margin is needed to keep main element visible below the fixed header */
      h1 {
        margin-top: 180px;
      }
  }
  